@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(geomatric-bg.jpg);
  background-size: cover;
  /* background: rgb(0, 0, 128);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 128, 0.7847514005602241) 0%,
    rgba(0, 0, 128, 0) 100%
  ); */
}

.navigation {
  position: fixed;
  z-index: 99999;
  height: 70px;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000080;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 17px 59px 11px rgba(63, 0, 199, 0.62);
  -moz-box-shadow: 0px 17px 59px 11px rgba(63, 0, 199, 0.62);
  box-shadow: 0px 17px 59px 11px rgba(63, 0, 199, 0.62);
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}

.navigation h1 {
  position: fixed;
  top: 15px;
  left: 30px;
  margin-bottom: 0;
  font-family: Arial;
  color: #1100ff;
  background-image: -webkit-linear-gradient(
    0deg,
    #4d40ff 0%,
    #466e85 46%,
    #ff0055 86%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-emphasis-color: transparent;
  -webkit-text-fill-color: transparent;
}

.links {
  display: flex;
  justify-content: right;
  position: absolute;
  top: 4vh;
  left: 0;
  right: 5vh;
  gap: 50px;
  font-weight: bold;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  transition: all 1s ease-in-out;
  z-index: 9;
}

.links.slide {
  transform: translateY(0%);
}

.links a {
  height: 15px;
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  transition: 0.5s;
}

.links a:hover {
  background-color: #668fff73;
  box-shadow: 0px 0px 77px 50px #668fff85;
  -webkit-box-shadow: 0px 0px 77px 50px #668fff85;
  -moz-box-shadow: 0px 0px 77px 50px #668fff85;
  text-decoration: underline white;
}

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.home .heading {
  position: relative;
  margin-right: 20px;
}

.home h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
}

.home p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 100;
  text-shadow: none;
}

.home p a {
  font-size: 18px;
  color: #00f;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.preview_home {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 1s;
  z-index: 1;
}

.preview_home .previous {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 50px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 40%;
  text-decoration: none;
  cursor: pointer;
}
.preview_home .next {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 50px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 40%;
  text-decoration: none;
}

.next, .previous {
  transition: all .3s;
}

.next:hover, .previous:hover {
  color: purple;
  transform: scale(1.2);
}

.actionFigure {
  position: relative;
  display: flex;
  flex-direction: row;
}

.preview {
  width: 30vw;
  height: auto;
}

.product {
  visibility: hidden;
  position: absolute;
  z-index: 8;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0;
  transition: all 0.5s;
}

.product:target {
  visibility: visible;
  opacity: 1;
}

/* HAMBURGER MENU */
.menu {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  right: 50px;
  /* top: 1.5vh; */
  margin-top: 6px;
  z-index: 9;
}

.menu input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.menu span {
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 10px;
  transition: 0.8s;
}

.menu input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) scaleX(1.25);
  transform-origin: 0 0;
  border-radius: 0;
}
.menu input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}
.menu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) scaleX(1.25);
  transform-origin: 0 100%;
  border-radius: 0;
}

/* RESPONSIVE */
/* TABLET */
@media (max-width: 1024px) {
  .home {
    flex-direction: column;
  }

  .navigation {
    overflow: visible;
    z-index: 9;
  }

  .links {
    transform: translateY(-100%);
    top: 0;
    padding: 80px 0 0;
    width: 100%;
    height: max-content;
    background-color: navy;
    flex-direction: column;
    font-weight: bold;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    gap: 0;
    z-index: 9;
  }

  .menu {
    display: flex;
    top: 1vh;
  }

  .links a {
    display: inline-block;
    font-size: 20px;
    line-height: 100px;
    height: 100px;
  }

  .links a:hover {
    background-color: #668fff85;
    box-shadow: none;
  }

  .actionFigure {
    background-size: 30%;
    background-position: right center;
    transform: rotateY(180deg);
  }

  .actionFigure .preview {
    width: 50vw;
    height: auto;
  }

  .Albedo:hover,
  .Asuna:hover,
  .Megumi:hover {
    transform: none;
  }
}

/* HANDPHONE */
@media (max-width: 480px) {
  .navigation {
    top: -10px;
  }

  .navigation h1 {
    top: 10px;
  }

  .menu {
    display: flex;
    top: 2.2vh;
  }

  .home .heading {
    margin-top: 50px;
    margin-left: 20px;
  }

  .actionFigure .preview {
    width: 80vw;
    height: auto;
  }
}
